/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 160px;
    line-height: 160px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

footer > .container > h3 {
    text-align: center;
}
/* END OF Sticky footer styles */

.mar-auto {
    margin: auto;
}
.text-center {
    text-align: center;
}

.backToSite {
    color: white!important;
}

.fr-wrapper{

}

.slide-link {
    color: white;
    text-decoration: none;
}

.slide-link:hover {
    text-decoration: underline;
}

.comment_head {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.comment_body {
    margin-top: 10px;
}

.comment {
    list-style: none;
}

.reply {
    text-decoration: underline;
    float: right; cursor: pointer;
}

#form_comment {
    margin: 20px;
}

#form_comment_header {
    cursor: pointer;
    color: #2a88bd;
}
#form_comment_header:hover {
    text-decoration: underline;
}

.nested_comment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment_head_right {
    float: right;
    margin-right: 30px;
}

.rate-btn {
    background-color: lightsteelblue;
}

.rate-up {
    color: green;
}

.rate-down {
    color: red;
}

.cursor-block {
    cursor: no-drop!important;
}

.rate-div {
    display: inline-block;
}

.close {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    color:red;!important;
}

.comment_head_deleted {
    background-color: salmon;
    padding: 10px;
    border-radius: 5px;
}

.dropdown {
    margin-right: 100px;
}

.mar-left {
    margin-left: auto;
}

#navbarNav2 {
    max-width: 200px;
}

.material-icons {
    font-size: 19px;!important;
}


.dots {
    font-size: 15px;

}

.dots:hover {
    text-decoration: underline;
    cursor: pointer;
    /*color: blue;*/
}

.test {
    transform: translate3d(-84px, -119px, 0px);

}

.center-ul {
    margin: auto;
    width: 51%;
}

.pag-dropup {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 25px;
    /*visibility: hidden;*/
    display: none;
}

.ul-custom {
    margin-bottom: 0px;
}

.under:hover {
    text-decoration: underline;
}

.my-pop {

    display: none;

    max-width: 276px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}

#search_result {
    display: none;
    padding: 15px;
    position: absolute;
    background-color: white;
    z-index: 1;
    border: 1px solid rgba(0,0,0,.2);

}

.article-body {
}

.edit {
    text-decoration: underline;
    float: right; cursor: pointer;
}

.dropdown-submenu { position: relative }
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.dropdown-submenu:hover>.dropdown-menu { display: block }
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after { border-left-color: #ccc }
.dropdown-submenu.pull-left { float: none }
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.moderate_comment_exception {
    text-align: center;
}

.adv-left {
    float: left;
    position: absolute;
    max-width: 350px;
    /*max-height: 200px;*/
    word-break: break-all;
    top: 10%;
    left: 0;
}

.adv-right {
    float: right;
    position: absolute;
    max-width: 350px;
    /*max-height: 200px;*/
    word-break: break-all;
    top: 10%;
    right: 0;
}

.adv-admin {
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    /*width: 300px;*/
    /*height: 300px;*/
}

.adv-head {
    font-size: 2em;
    text-align: center;
}

.adv-price {
    text-align: center;
    font-size: 1.5em;
}
.adv-div-price {
    text-align: center;
}

.adv-price:hover {
    font-size: 2em;
    color: red;
}
.adv-btn-del {
    float: right;
}

.popover {
    position: unset!important;
    display: none;
}